<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="resources.ExtentReporting"></listener>
</listeners>
	<test thread-count="5" name="API test">
		<classes>
			<class name="TestFramework.RestAssured.JiraAPI" />
			<class name="TestFramework.RestAssured.ValidatingInXML" />
			<class name="TestFramework.RestAssured.OptimisingScriptsCentralisingData" />
			<class name="TestFramework.RestAssured.postRequest" />
			<class name="TestFramework.RestAssured.TwitterAPI" />
			<class name="TestFramework.RestAssured.GrabbingRespForAdvancedVal"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
