<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>
 
    <Appenders>
        <RollingFile name="File" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout   pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %Logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <!-- <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies> -->
        </RollingFile>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %Logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- <Logger name="com.howtodoinjava" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger> -->
        <Root level="trace">
            <appender-ref ref="File" />
        </Root>
    </Loggers>
</Configuration>